<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="de-DE">
	<head>
		<title>%name% OAI-Harvester</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="resources/css/oai_harvester.css" media="screen"/>
		%javascript%
	</head>

	<body>
		<div id="main">
			<div style="background-color:#b8b8b8;">
				<h1>%name% OAI-Harvester</h1>
			</div>
			%content%
		</div>
	</body>
</html>
